* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(250, 242, 233);
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1100px;
}

.up_to {
  position: fixed;
  right: 2%;
  bottom: 2%;
  display: inline-block;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 100%;
  color: white;
  opacity: .5;
  background-color: rgb(193, 142, 77);
  z-index: 100;
}

.general_headers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
}

.general_headers_link {
  display: inline-block;
  flex: 0 1 50%;
  padding: 8px;
  font-size: 28px;
  text-align: center;
  color: white;
  background: linear-gradient(90deg, rgba(180,142,58,1) 0%, rgba(253,85,29,0.8995973389355743) 50%, rgba(252,176,69,1) 100%);
  border-radius: 50px;
  text-decoration: none;
}

li {
  font-size: 22px;
  font-weight: bold;
}

li span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  text-indent: 30px;
  background-color: rgba(85, 255, 0, 0.42);
}

.nav_menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
  height: 100vh;
  background-color: #d3d3d38b;
}

.menu_list {
  list-style-type: none;
}

.menu_item {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px dashed gray;
  text-align: center;
}

.menu_item:first-child {
  margin-top: 100px;
}

.menu_link {
  font-size: 22px;
  text-decoration: none;
  color: black;
}

@media (max-width: 650px) {
  .container {
    padding: 0 5px;
  }
  .general_headers_link {
    margin: 0 10px;
    padding: 5px;
    font-size: 24px;
  }

  li {
    font-size: 20px;
  }
  
  li span {
    font-size: 16px;
  }

  .up_to {
    padding: 10px;
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .general_headers_link {
    font-size: 18px;
  }

  li {
    font-size: 14px;
  }
  
  li span {
    font-size: 11px;
  }

  .up_to {
    padding: 7px;
    font-size: 18px;
  }
}

